.not-authorized {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-authorized h1 {
    text-align: center;
    margin-bottom: 30px;
}

.not-authorized h3 {
    text-align: center;
    margin: 20px;
}

.not-authorized button {
    width: 80%;
    height: 50px;
    outline: none;
    border: transparent;
    border-radius: 5px;
    background-color: #171717;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}